.gradle/
.idea/
/*/src/**/assets/*
/*/src/**/res/*
/*?/build/
/build/
/captures/
*.pro
gradle.properties
/gradle/
/gradlew
/gradlew.bat
/local.properties
/settings.gradle
*.iml
*.apk
/*?/libs/
/libs/
/*/src/**/androidTest/
/*/src/**/test/
